@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  margin: 0%;
  height: 100vh;
  width: 100vw ;
}
.banner{
  text-align: center;
  padding-top: 9vh;
  font-weight: 600;
  font-size:12vh ;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to top, #C50337 , #021C4F);
}
#years{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 1%;

}
::-webkit-scrollbar-track {
  margin: 0;   /* removes extra spacing */
  background: transparent;
}
#months{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 1%;
}

.years, .months{
  background-color:rgba(0, 255, 255, 0.105);
  padding: 0 1vw;
  border-radius: 15%;
  border-style: solid;
  border-color: white;
}
.years:hover,.months:hover{
  background-color: black;
  border-style:solid;
}