@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #090C11;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  margin: 0%;
  height: 100vh;
  width: 100vw ;
}
#grid1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-left: 10%;
  margin-top: 5vh;
}
.grid-items1{
  display: grid;
  grid-template-columns: repeat(3, 0.25fr);
  font-size: 2.4vh;
  padding: 0.55vh;
}
.nav-items{
  color: white;
  transition: all 1900ms;
}
.nav-items:hover{
  color: #ffd300;
  animation:ease-in-out 400ms;
  transform: scale(1.1);
}